<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<sectionGroup name="elmah">
			<!-- NOTE! If you are using ASP.NET 1.x then remove the
             requirePermission="false" attribute from the section
             elements below as those are only needed for
             partially trusted applications in ASP.NET 2.0 -->
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
			<section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah"/>
		</sectionGroup>
		<section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
	</configSections>
	<resizer>
		<image404 default="~/img/missingFile.JPG" />
		<diskCache autoClean="true" dir="~/uploads/imagecache" />
		<plugins>
			<add name="Image404" />
			<add name="DiskCache" />
			<add name="Presets" />
		</plugins>
	</resizer>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=tcp:10.10.10.12;Initial Catalog=Meybohm_com;Integrated Security=False;User ID=Meybohm_com;Password=ME1#testing;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="SiteWide_enableCaching" value="true"/>
		<add key="SiteWide_defaultCacheDuration" value="10000"/>
		<add key="SiteWide_siteStatus" value="Live"/>
		<add key="SiteWide_linkToSite" value="/"/>
		<add key="SiteWide_disableDynamicSEOOutput" value="false"/>
		<add key="SiteWide_AllowableCommentHtml" value=""/>
		<!--Comma separated list of SSL paths (pages and folders), matches from the start of the filename-->
		<add key="SiteWide_SSLPaths" value="" />
		<!--Comma separated list of paths that should load under whatever protocol the current page is in, matches from the start of the filename-->
		<add key="SiteWide_ProtocolInheritedPaths" value="" />
		<!--Ex. preview.352media.com/352Media/FeatureDevelopment/dev (no trailing slash)-->
		<add key="SiteWide_UrlHost" value=""/>
		<add key="SiteWide_fromEmail" value="support@352media.com"/>
		<add key="SiteWide_EnableHttpCompression" value="true"/>
		<add key="SiteWide_missingImagePath" value="img/missingFile.jpg"/>
		<add key="SiteWide_UploadFolder" value="uploads/"/>
		<!-- value must match an item from the Culture column in the Languages table -->
		<add key="SiteWide_defaultLanguageCulture" value="en-US"/>
		<add key="SiteWide_352MediaNewsFeed" value="http://www.352media.com/news-press-rss.aspx?Category=1"/>
		<add key="SiteWide_352MediaBlogFeed" value="http://www.352media.com/blog/syndication.axd"/>
		<add key="SiteWide_352MediaComponentFeed" value="http://www.352media.com/StandardComponentFeed.aspx"/>
		<add key="SiteWide_352MediaTwitterFeed" value="http://www.352media.com/latest-tweet.aspx"/>
		<add key="SiteWide_352MediaFeedbackUrl" value="//www.352media.com/feedback-post.aspx"/>
		<add key="SiteWide_enableParallelization" value="false"/>
		<add key="SiteWide_CSSSubdomain" value="http://css.preview.352media.com/"/>
		<add key="SiteWide_UploadsSubdomain" value="http://upload.preview.352media.com/"/>
		<add key="SiteWide_ResizerSubdomain" value="http://resizer.preview.352media.com/"/>
		<add key="SiteWide_requiredASPXExtensions" value="false"/>
		<add key="SiteWide_hashAlgorithm" value="SHA1"/>
		<add key="SiteTemplate_componentVersion" value="2.1.1"/>
		<add key="Media352_MembershipProvider_userNameIsEmail" value="false"/>
		<add key="Media352_MembershipProvider_securityQuestionRequired" value="true"/>
		<add key="Facebook_AdminIDs" value="100000074644473"/>
		<add key="Facebook_ApplicationID" value="483495751690628"/>
		<add key="Facebook_EnableLikeButton" value="true"/>
		<add key="ContentManager_componentVersion" value="2.1.1"/>
		<add key="ContentManager_clientCMLevel" value="1"/>
		<add key="ContentManager_depthLimit" value="3"/>
		<!--Note!  Forcing One to One is required to have fully functional filename to sitemap item mappings.
        Once disabled, with many to one sitemaps to pages, menus may start from the wrong location.  Please
        fully consider this before changing. -->
		<add key="ContentManager_forceOneToOne" value="false"/>
		<add key="ContentManager_enableMicrosites" value="true"/>
		<!-- if enabling multiple languages, run CMPageTitle.CreateCMPageTitlesFromCMPages() once and uncomment the language HttpModule -->
		<add key="ContentManager_enableMultipleLanguages" value="true"/>
		<add key="ContentManager_enableApprovals" value="false"/>
		<add key="DynamicHeader_componentVersion" value="2.1.1"/>
		<add key="DynamicHeader_enableCaptions" value="false"/>
		<!--Roles and Profile Control will be hidden under Simple-->
		<add key="Media352_MembershipProvider_UserManager" value="Complex"/>
		<add key="Media352_MembershipProvider_componentVersion" value="2.1.0"/>
		<add key="Newsletters_componentVersion" value="2.1.1"/>
		<add key="Newsletters_textOnlyDomains" value=""/>
		<add key="Newsletters_newsletterSendingType" value="HtmlAndText"/>
		<add key="Newsletters_mailServer" value=""/>
		<!--The following settings are for use if you want to limit the number of mailing lists 
    and subscribers used by the newsletter component.  If Newsletters_enableMailingListLimitations is set to false, 
    none of the other settings will work -->
		<add key="Newsletters_enableMailingListLimitations" value="false"/>
		<add key="Newsletters_maxNumberSubscribers" value="5"/>
		<add key="Newsletters_maxNumberSubscribersErrorMessage" value="Sorry this demo only allows [maxNumberSubscribers] subscribers to be added to a mailing list.  The full version allows unlimited number of subscribers."/>
		<add key="Newsletters_maxNumberMailingLists" value="2"/>
		<add key="Newsletters_maxNumberMailingListsErrorMessage" value="Sorry this demo only allows [maxNumberMailingLists] mailing lists to be created.  The full version allows unlimited number of mailing lists."/>
		<add key="Newsletters_maxEmailsPerMonth" value="0"/>
		<add key="Showcase_componentVersion" value="2.1.1"/>
		<add key="Showcase_multipleShowcases" value="true"/>
		<add key="Showcase_enableStatTracking" value="true" />
		<add key="Showcase_aikenExistingPropertyTypeAttributeID" value="601"/>
		<add key="Showcase_augustaExistingPropertyTypeAttributeID" value="289"/>
		<add key="Media352_NewsPress_componentVersion" value="2.1.1" />
		<!--Set to 1289611 when going live or testing functional.  Test # with expired license: 1553071-->
		<add key="LiveChat_LicenseNumber" value="1553071"/>
		<add key="ActiveDirectory_Server" value="LDAP://64.53.79.10/dc=meybohm,dc=com"/>
		<add key="ExchangeServer_AdminUserName" value="352mediatest@meybohm.com"/>
		<add key="ExchangeServer_AdminPassword" value="testacct1@"/>
		<add key="HelpDesk_Url" value="https://glpi.meybohm.com"/>
	</appSettings>
	<system.net>
		<mailSettings>
			<!--<smtp deliveryMethod="Network" from="support@352media.com">
				<network host="mail.352media.com"/>
			</smtp>-->
      <smtp deliveryMethod="Network" from="info@meybohm.com">
        <network host="localhost" port="25" defaultCredentials="true" />
      </smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<!--<trust level="Medium" originUrl=".*"/>-->
		<httpRuntime maxRequestLength="10490" requestValidationMode="2.0" enableVersionHeader="false"/>
		<httpModules>
			<add type="BaseCode.HttpModules.LanguageModule" name="LanguageModule"/>
			<add type="BaseCode.HttpModules.SEOSetupModule" name="SEOSetupHandler"/>
			<add name="CompressionModule" type="BaseCode.HttpModules.CompressionModule"/>
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
			<!--<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
          <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>-->
		</httpModules>
		<trace enabled="true" pageOutput="false"/>
		<authentication mode="Forms">
			<forms loginUrl="~/login.aspx" name="SITEFORMAUTH" timeout="10080" slidingExpiration="true"/>
		</authentication>
		<pages masterPageFile="~/frontend.master" maintainScrollPositionOnPostBack="false" clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0">
			<controls>
				<add tagPrefix="Facebook" tagName="LikeButton" src="~/Controls/Publishing/FacebookLikeButton.ascx"/>
				<add tagPrefix="Language" tagName="Selector" src="~/Controls/BaseControls/LanguageToggle.ascx"/>
				<add tagPrefix="asp352" namespace="Controls352"/>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
				<add tagPrefix="cm" namespace="Classes.ContentManager"/>
				<add tagPrefix="cm" tagName="ContentRegion" src="~/Controls/ContentManager/ContentRegion.ascx"/>
				<add tagPrefix="DynamicHeader" tagName="DynamicHeader" src="~/Controls/DynamicHeader/DynamicHeader.ascx"/>
				<add tagPrefix="newsletter" tagName="quickView" src="~/Controls/Newsletters/NewsletterQuickView.ascx"/>
				<add tagPrefix="newspress" tagName="quickView" src="~/Controls/Media352_NewsPress/NewsPressQuickView.ascx" />
			</controls>
			<tagMapping>
				<add tagType="System.Web.UI.WebControls.Image" mappedTagType="TFT.WebControls.Image"/>
				<add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="TFT.WebControls.CompareValidator"/>
				<add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="TFT.WebControls.CustomValidator"/>
				<add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="TFT.WebControls.RangeValidator"/>
				<add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="TFT.WebControls.RegularExpressionValidator"/>
				<add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="TFT.WebControls.RequiredFieldValidator"/>
			</tagMapping>
			<namespaces>
				<add namespace="System.Web.Optimization"/>
			</namespaces>
		</pages>
		<!--
      Possible modes are "transitional", "strict", and "legacy".
      <xhtmlConformance mode="transitional" />
      -->
		<membership defaultProvider="Media352_MembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="Media352_MembershipProvider" passwordStrengthRegularExpression="^[\s\S]{4,14}$" connectionStringName="LocalSqlServer" applicationName="/" enablePasswordRetrieval="true" enablePasswordReset="true" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" type="Media352_MembershipProvider"/>
			</providers>
		</membership>
		<roleManager enabled="true" cacheRolesInCookie="true" cookieName="MEDIA352Roles" defaultProvider="Media352_RoleProvider">
			<providers>
				<add connectionStringName="LocalSqlServer" applicationName="/" name="Media352_RoleProvider" type="Media352_RoleProvider"/>
			</providers>
		</roleManager>
		<siteMap defaultProvider="SiteMapProvider" enabled="true">
			<providers>
				<add name="SiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="web.sitemap"/>
			</providers>
		</siteMap>
		<sessionState/>
		<anonymousIdentification enabled="true"/>
		<machineKey validationKey="287C5D125D6B7E7223E1F719E3D58D17BB967703017E1BBE28618FAC6C4501E910C7E59800B5D4C2EDD5B0ED98874A3E952D60BAF260D9D374A74C76CB741803" decryptionKey="5C1D8BD9DF3E1B4E1D01132F234266616E0D5EF772FE80AB" validation="SHA1"/>
		<customErrors mode="Off" defaultRedirect="~/error.aspx">
			<error statusCode="404" redirect="~/404.aspx"/>
		</customErrors>
		<compilation debug="true" defaultLanguage="C#" batch="false" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
			<buildProviders>
				<add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
			</buildProviders>
		</compilation>
		<httpHandlers>
			<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
			<add verb="*" path="TinyMCEHandler.ashx" type="Moxiecode.TinyMCE.Web.HttpHandler, Moxiecode.TinyMCE" validate="false"/>
		</httpHandlers>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="10000000">
				</jsonSerialization>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<!--<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>-->
			<add type="BaseCode.HttpModules.LanguageModule" name="LanguageModule"/>
			<add type="BaseCode.HttpModules.SEOSetupModule" name="SEOSetupHandler"/>
			<add name="CompressionModule" type="BaseCode.HttpModules.CompressionModule"/>
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
		</modules>
		<handlers>
			<add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" preCondition="integratedMode" type="Elmah.ErrorLogPageFactory, Elmah"/>
			<add name="TinyMCESpellCheck" verb="*" path="TinyMCEHandler.ashx" type="Moxiecode.TinyMCE.Web.HttpHandler, Moxiecode.TinyMCE"/>
		</handlers>
		<!--<asp scriptErrorSentToBrowser="true"/>-->
		<!--remove the following line when going live-->
		<httpErrors errorMode="Detailed"/>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By"/>
			</customHeaders>
		</httpProtocol>
		<!-- Ensures Directory Browsing is not enabled throughout the site -->
		<directoryBrowse enabled="false"/>
		<!-- Ensures URL Compression is turned on for both Static and Dynamic Content-->
		<urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
			<remove fileExtension=".mp4"/>
			<remove fileExtension=".woff"/>
			<mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
		</staticContent>
	</system.webServer>
	<elmah>
		<security allowRemoteAccess="yes"/>
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="LocalSqlServer"/>
		<!--    Use to send error reports by email and adjust the attributes
            according to settings desired. Note that only the from and
            to attributes are required. The rest are optional and may
            be removed. If the SMTP server does not require authentication,
            you MUST remove the userName and password attributes or
            set them to empty values (resulting in zero-length strings).
            If you are using ELMAH compiled for .NET Framework 1.x, then
            the to attribute may contain multiple recipient addresses,
            each of which must be delimited by a semi-colon(;). If you are 
            using ELMAH compiled for .NET Framework 2.0 or later, then the
            to attribute may contain multiple recipient addresses,
            each of which must be delimited by a comma (,).-->
		<errorMail from="support@352media.com" to="support@352media.com" subject="ELMAH Error Logged" async="true" smtpPort="25" smtpServer="mail.352media.com"/>
	</elmah>
	<location path="elmah.axd">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="profile.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="RETSConnector/UpdatefromXML.aspx">
		<system.web>
			<httpRuntime executionTimeout="15000"/>
		</system.web>
	</location>
	<location path="RETSConnector/rental-import.aspx">
		<system.web>
			<httpRuntime executionTimeout="15000"/>
		</system.web>
	</location>
	<location path="tft-services/ScheduledTasks/ScheduledTaskWebMethods.asmx">
		<system.web>
			<httpRuntime executionTimeout="15000"/>
		</system.web>
	</location>	
</configuration>