<?xml version="1.0"?>
<configuration>
	<system.web>
		<authorization>
			<allow roles="Admin,CMS Admin,Microsite Admin,CMS Content Integrator,CMS Page Manager,DynamicImage Admin,E-Commerce Admin,Product Catalog Admin,Newsletter Admin,Newspress Admin,OpenPayment Admin,Polls Admin,Search Admin,Events Admin,Showcase Admin,Blog Admin,Blog Editor,Showcase Manager,New Homes Admin" />
			<deny users="*" />
		</authorization>
	</system.web>
	<location path="configuration-settings.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
</configuration>