<?xml version="1.0"?>
<configuration>
	<system.web>
		<authorization>
			<allow roles="Admin,Showcase Admin,Showcase Manager" />
			<deny users="*" />
		</authorization>
	</system.web>
	<location path="admin-showcase-item-edit.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin,Showcase Admin,Showcase Manager,New Homes Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
</configuration>